* {
  box-sizing: border-box;
}

*::selection {
  background-color: rgb(202, 249, 255);
  background-color: rgba(202, 249, 255, 0.555);
  color: black;
}

*:hover::selection {
  color: black;
}

html {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.25rem;
}

main {
  margin: 0 auto;
  max-width: 75ch;
  padding: 1.5rem 5rem;
}

body > header {
  text-align: center;
  background-color: rgb(0, 57, 75);
  background-color: rgba(0, 57, 75, 0.747);
  color: white;
}

h1,
h2,
h3 {
  font-family: "Merienda", cursive;
  font-weight: 600;
}

h4,
nav p {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: rgb(0, 57, 75);
  font-weight: bold;
}

a:hover {
  color: rgb(29, 248, 193);
}

a:active {
  color: rgb(15, 167, 129);
}

nav a {
  color: rgb(255, 255, 255);
  margin-top: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.85rem;
}

nav a:hover {
  color: rgb(253, 249, 20);
}

nav a:active {
  color: rgb(255, 194, 102);
}

ul {
  list-style: circle;
}

nav a + a::before {
  content: "|";
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

nav a + a:hover::before,
nav a + a:active::before {
  color: white;
}

article {
  padding: 0 1rem;
}

article + article {
  margin-top: 2rem;
}

p,
ul {
  font-size: 0.75rem;
}

section + section {
  margin-top: 1.5rem;
}

ul {
  margin: 0;
}

.hire-me {
  position: absolute;
  right: 0;
  top: 0;
  width: 5rem;
  background-color: rgb(61, 255, 255);
  color: black;
  font-size: 0.85rem;
  font-weight: 500;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.4rem 0.75rem rgba(0, 0, 0, 0.1);
}

.main-header {
  padding: 3rem 0 1rem;
}

.header-group {
  font-size: 2rem;
}

.page-title {
  font-size: 1em;
}

.profession {
  margin-bottom: 1.5rem;
  font-size: 0.5em;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.profession::after {
  padding-left: 0.5rem;
  content: "🍂";
}

.title {
  position: relative;
  left: -1rem;
  padding: 1.5rem 0 1rem;
  margin: 0.25rem 0;
  font-size: 1rem;
}

.subtitle {
  margin: 0 0 0.15rem;
  display: inline-block;
  font-size: 0.85rem;
}

.sub-subtitle {
  margin: 0 0 0.15rem;
  display: inline-block;
  font-size: 0.65rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

#experience {
  margin-top: 2rem;
}

#experience,
#skills,
#contact {
  border-top: 0.05rem solid rgb(46, 46, 46);
  border-top: 0.05rem solid rgba(77, 77, 77, 0.486);
}

#profile > h2 {
  position: relative;
  left: -1rem;
  font-size: 1.25rem;
}

#profile {
  padding-right: 0.5rem;
}
