* {
  box-sizing: border-box;
}

*::selection {
  background-color: rgba(202, 249, 255, 0.555);
}

*:hover::selection {
  color: black;
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

main {
  margin: 0 auto;
  max-width: 800px;
}

body > header,
main {
  padding: 30px 100px;
}

body > header {
  text-align: center;
  background-color: rgba(0, 57, 75, 0.747);
}

header,
h1,
h2,
h3,
h4 {
  font-family: "Merienda", cursive;
}

header,
h1,
h2,
h3 {
  font-weight: 600;
}

h4,
header p {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

p,
ul {
  font-size: 0.9em;
}

a {
  text-decoration: none;
  color: rgb(0, 57, 75);
  font-weight: bold;
}

a:hover {
  color: rgb(29, 248, 193);
}

a:active {
  color: rgb(15, 167, 129);
}

nav a {
  color: rgb(255, 255, 255);
  margin-top: 10px;
}

nav a:hover {
  color: rgb(253, 249, 20);
}

nav a:active {
  color: rgb(255, 194, 102);
}

ul {
  list-style: circle;
}

main article {
  margin-top: 50px;
}

nav a + a::before {
  content: "|";
  margin-left: 10px;
  margin-right: 10px;
}

nav a + a:hover::before,
nav a + a:active::before {
  color: white;
}

article + article {
  margin-top: 50px;
}

.underline-title {
  padding-bottom: 10px;
  margin: 5px 0 25px;
  border-bottom: 1px solid rgba(77, 77, 77, 0.486);
}

.subtitle {
  margin-bottom: 0px;
}

.sub-subtitle {
  margin: 10px 0;
}

.profession::after {
  padding-left: 10px;
  content: "🍂";
}

.profession {
  margin-bottom: 30px;
}
