* {
  box-sizing: border-box;
}

*::selection {
  background-color: rgb(202, 249, 255);
  background-color: rgba(202, 249, 255, 0.555);
  color: black;
}

*:hover::selection {
  color: black;
}

html {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

main {
  margin: 0 auto;
  max-width: 800px;
}

body > header,
main {
  padding: 30px 100px;
}

body > header {
  text-align: center;
  background-color: rgb(0, 57, 75);
  background-color: rgba(0, 57, 75, 0.747);
  color: white;
}

h1,
h2,
h3 {
  font-family: "Merienda", cursive;
  font-weight: 600;
}

h4,
nav p {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

p,
ul {
  font-size: 0.9em;
}

a {
  text-decoration: none;
  color: rgb(0, 57, 75);
  font-weight: bold;
}

a:hover {
  color: rgb(29, 248, 193);
}

a:active {
  color: rgb(15, 167, 129);
}

nav a {
  color: rgb(255, 255, 255);
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav a:hover {
  color: rgb(253, 249, 20);
}

nav a:active {
  color: rgb(255, 194, 102);
}

ul {
  list-style: circle;
}

nav a + a::before {
  content: "|";
  margin-left: 10px;
  margin-right: 10px;
}

nav a + a:hover::before,
nav a + a:active::before {
  color: white;
}

article {
  padding: 0 20px;
}

article + article {
  margin-top: 40px;
}

section + section {
  margin-top: 30px;
}

ul {
  margin: 0;
}

li {
  line-height: 1.25rem;
}

.hire-me {
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  background-color: rgb(61, 255, 255);
  color: black;
  font-weight: 500;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.title {
  position: relative;
  left: -20px;
  padding: 30px 0 20px;
  margin: 5px 0;
}

.subtitle {
  margin: 0 0 15px;
  display: inline-block;
}

.sub-subtitle {
  margin: 0 0 15px;
  display: inline-block;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.profession {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.profession::after {
  padding-left: 10px;
  content: "🍂";
}

#experience {
  margin-top: 40px;
}

#experience,
#skills,
#contact {
  border-top: 1px solid rgb(46, 46, 46);
  border-top: 1px solid rgba(77, 77, 77, 0.486);
}

#profile > h2 {
  position: relative;
  left: -20px;
}

#profile {
  padding-right: 10px;
}
